<div class="password password--{{template_type}} password--{{post.post_type}}">
  <div class="password_content-wrapper">
    <h1 class="password__title">{{__('Sign in', 'theme')}}</h1>
    <div class="password__content">
      <form class="password__form" action="{{site.siteurl}}/wp-login.php?action=postpass" method="post">
        <input name="post_password" id="pwbox-{{post.ID}}" type="password" placeholder="{{__('Password', 'theme')}}" size="20" maxlength="20" />
        <input class="password__submit button button--primary" type="submit" name="Submit" value="{{__('Sign in', 'theme')}}" />
      </form>
    </div>
  </div>
</div>
